<h1>Secrets</h1>
{{ if .Errors }}
<div> Errors: 
	<ul> 
		{{ range .Errors }}
		<li> Error: {{ .Error }} </li>
		{{ end}}
</div>
{{ end }}
<div>
  <form method="POST" action="/create">
	  <label>Name: </label><input name="name" type="text" value="{{ .PreviousSecretName }}" />
	  </br>
	  <label>Secret: </label><input name="secret" type="text" value="{{ .PreviousSecretSecret }}" />
	   | <a target="_blank" href="https://passwordsgenerator.net/"> passwordsgenerator.net</a>
	  </br>
      <input type="submit" value="submit" />
  </form>
</div>
<ul style="margin-top:20px; font-size: 20px">
    {{ range .Secrets }}
	<li><a href="/?key={{ .Name }}"> {{ .Name }} </a> | {{ .Modified }}</li>
    {{ end }}
</ul>
