<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Messecrets</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
	  <h4>Secret: {{ .SelectedSecret.Name }}</h4>
	{{ if .Errors }}
	<div class="row">
		<h5>Errors: </h5>
		<div class="twelve columns">
			<ul>
		{{ range .Errors }}
		<li> Error: {{ .Error }} </li>
		{{ end }}
			</ul>
		</div>
	</div>
	{{ end }}
    <form method="POST" action="/create?page=secret">
		<input type="hidden" name="name" value="{{ .SelectedSecret.Name }}"/>
    <div class="row">
      <div class="twelve columns">
	  <label for="secret">Secret: <a target="_blank" href="https://passwordsgenerator.net/"> passwordsgenerator.net</a>
</label>
		<textarea style="min-height:200px" id="secret" rows="15" class="u-full-width" name="secret">{{ .SelectedSecret.Value }}</textarea>
	  </div>
      </div>
	  <div class="row">
		  <div class="twelve columns">
		<input type="submit" value="Submit" />
		<a href="/delete?name={{.SelectedSecret.Name}}" onclick="return confirm('Do you really want to delete secret {{ .SelectedSecret.Name }}?')"><input style="color:#FFF;background-color:red;border-color:red;" type="button" value="Delete" class="delete-button"/></a>
		<a href="/"><input type="button" class="button-primary" value="Home"/></a>
	</form>
		</div>
	  </div>
	  <div class="row">
		  <div class="twelve columns">
		<input type="button" class="button-secondary" onclick="copyToClipboard()" value="Copy to clipboard" />
		</div>
	  </div>
  </div>
	<script>
		function copyToClipboard() {
		  var copyText = document.getElementById("secret");
		  /* Select the text field */
		  copyText.select();
		  copyText.setSelectionRange(0, 99999); /*For mobile devices*/
		  /* Copy the text inside the text field */
		  document.execCommand("copy");
		};
	</script>
</body>
</html>
